{
  email {$ACME_EMAIL}
  auto_https disable_redirects
}

http://{$APP_DOMAIN} {
  redir https://{$APP_DOMAIN}:{$HTTPS_PORT}{uri} permanent
}

https://{$APP_DOMAIN}:{$HTTPS_PORT} {
  encode zstd gzip

  handle /socket.io* {
    reverse_proxy backend:3001
  }

  reverse_proxy frontend:3000
}
